 <div class="col-lg-2 mt-3 ml-3 bg-dark shadow-lg">
        <div class="py-3 text-center"><i class="fa fa-bars text-light" aria-hidden="true"></i></div>
        <a class="p-3 d-block text-center text-light h2" href="{%url 'dashboard'%}">Dashboard</a>
        <hr class="bg-light">

        <div class="dropdown show py-3">
          <a class="p-3 text-light h3 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employees
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Add Employee</a>
            <a class="dropdown-item" href="#">All Employees</a>
          </div>
        </div>
        <hr class="bg-info">
        <div class="dropdown show py-3">
              <a class="p-3 text-light h3 dropdown-toggle" href="#" role="button" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Leaves
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownLink">
                <a class="dropdown-item" href="#">Add Leave type</a>
                <a class="dropdown-item" href="#">Leave List</a>
              </div>
        </div>
        <hr class="bg-info">
        <div class="dropdown show py-3">
              <a class="p-3 text-light h3 dropdown-toggle" href="#" role="button" id="droppdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Applications
              </a>

              <div class="dropdown-menu" aria-labelledby="droppdownLink">
                <a class="dropdown-item" href="#">Make leave Application</a>
                <a class="dropdown-item" href="#">Applied Leaves</a>
              </div>
        </div>
        <hr class="bg-info">

</div>